# Quartus temporary files
db/
incremental_db/
greybox_tmp/
hc_output/
/output_files/
/qdb/
.qsys_edit/

# Simulation files (ModelSim / Questa)
simulation/
work/
transcript
*.wlf
*.vstf

# User-specific settings (Window positions, etc.)
*.qws
*.bak
*.orig

# Log files
*.txt
*.log
*.rpt
*.summary

# OS specific
.DS_Store
Thumbs.db
